@import "tailwindcss";
@plugin "@midudev/tailwind-animations";

@theme {
    --color-primary: hsl(0, 0, 95%);
    --color-secondary: hsl(0, 0, 60%);
}

@font-face {
    font-family: 'Poppins';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/poppins-latin-400-normal.woff2') format('woff2');
    font-display: swap;
}

@font-face {
    font-family: 'Nunito';
    font-weight: 400;
    font-style: normal;
    src: url('fonts/nunito-latin-400-normal.woff2') format('woff2');
    font-display: swap;
}

h1,
h2 {
    font-family: 'Poppins', sans-serif;
}

h3,
h4,
h5,
h6 {
    font-family: 'Nunito', sans-serif;
}
