<header class="pt-24">
    <div class="relative">
        <img src="/kilauea.png" alt="Kilauea Logo" class="animate-pulse-fade-in max-w-full mx-auto select-none px-4 md:px-0 md:max-w-xl" />
    </div>
</header>